setuptools>=58.0.4
wheel
mpstemmer @ git+https://github.com/ariaghora/mpstemmer.git@25a5fd923af163a7eac3a5ec976984156ca8fa8b
streamlit
pandas
numpy
joblib
Sastrawi
networkx
matplotlib
matplotlib-inline
amrlib
seaborn
scikit-learn
Levenshtein
Pillow
imblearn
